1. I have added "reference" folder, this folder is only to use as a reference and look for example code. do not use or modify anything.
2. always use https://reactflow.dev/learn for reactflow documentation and features.
3. always use example code from this path /home/moimran/repo/testprojects/xyflow/examples/react/src/examples