.network-topology {
  flex-direction: column;
  display: flex;
  height: 100%;
}

.network-flow-wrapper {
  flex-grow: 1;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .network-topology {
    flex-direction: row;
  }
}
