.sidebar {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.sidebar > * {
  margin-bottom: 10px;
  cursor: grab;
}

.sidebar-description {
  margin-bottom: 10px;
  font-size: 14px;
  color: #777;
}

.network-node-item {
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #1a192b;
  border-radius: 5px;
  background: white;
  cursor: grab;
  transition: all 0.2s ease;
}

.network-node-item:hover {
  background: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.network-node-item:active {
  cursor: grabbing;
}

@media screen and (min-width: 768px) {
  .sidebar {
    width: 20%;
    max-width: 180px;
  }
}
