.network-node {
  position: relative;
  background: none !important;
}

.device-icon {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

/* Override any React Flow default styles */
.react-flow__node {
  background: none !important;
  border: none !important;
  padding: 0 !important;
}

.device-handle {
  opacity: 0 !important;
  width: 8px;
  height: 8px;
  background-color: #784be8;
  border: 2px solid white;
  border-radius: 50%;
}
